div{
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: rgb(180, 97, 166);
    color: azure;
    font-size: 30px;
    border: 17px;
}
label{
    padding: 35px;
    background-color: antiquewhite;
    color: violet;
    margin: 20px;
    border-radius: 5px;
}
input{
    padding: 20px;
    background-color: rgb(160, 126, 179);
    color: rgb(71, 7, 71);
    margin: 20px;
    border-radius: 5px;
    
}
button{
    padding: 20px;
    background-color: rgb(160, 126, 179);
    color: rgb(71, 7, 71);
    margin: 20px;
    border-radius: 50%;
    outline: 0;
}
section{
    background-color: rgb(63, 50, 63);
    height: 100vh;
}